.media-widget-preview .button {
	text-align: center
}

.media-widget-preview p {
	overflow: auto
}

.media-widget-preview .aligncenter {
	display: block;
	margin: 0 auto;
	text-align: center
}

.media-widget-preview .image {
	height: auto;
	max-width: 100%
}
