.simple-media-widget-select {
	text-align: center
}

.simple-media-widget-preview {
	overflow: auto
}

.simple-media-widget-preview .aligncenter {
	display: block;
	margin: 0 auto;
	text-align: center
}

.simple-media-widget-preview img {
	max-width: 100%;
	height: auto
}
